// Here you can add other styles
.header_color{
    background-color : #139DC9
}
.header_text_color{
    color: #ffffff
}
.right-div{
    background-color : #E4E5E6;
    height: '100%'
}
.col-height{
    height: '50%'
}
.navbar-color{
    background-color: #139DC9
}
.extra-height{
    height : 20px
}
.brand-name{
    color : white;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    padding-left: 16px;
    margin: 0px;
}